<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IPizzaService" />
              <binding openTimeout="00:10:00" closeTimeout="00:10:00" sendTimeout="00:10:00" receiveTimeout="00:10:00"></binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/PizzaServiceLibrary/PizzaService/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPizzaService"
                contract="PizzaReference.IPizzaService" name="BasicHttpBinding_IPizzaService" />
        </client>
    </system.serviceModel>
</configuration>